@model Crm.Admin.Models.AuthenticationModel
@Html.HiddenFor(model => model.ReturnUrl)
<div class="form-field">
    <span class="label-field">@Html.LabelFor(model => model.Identity.Login)</span>
    <span class="editor-field">@Html.EditorFor(model => model.Identity.Login)</span>
    @Html.ValidationMessageFor(model => model.Identity.Login)
</div>
<div class="form-field">
    <span class="label-field">@Html.LabelFor(model => model.Key.Password)</span>
    <span class="editor-field">@Html.PasswordFor(model => model.Key.Password, new { maxlength = 32 })</span>
</div>
<div>@Html.ValidationMessageFor(model => model.Key)</div>
<div class="form-field">
    <span class="editor-field">@Html.EditorFor(model => model.Remember)</span>
    <span class="label-field">@Html.LabelFor(model => model.Remember)</span>
</div>